body {
    margin: 0;
    padding: 0;
}

.chessboard-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.chessboard-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            45deg, #000 0, #000 40px,
            #fff 40px, #fff 80px);
}

.chessboard-background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        -45deg, #000 0, #000 40px,
        #fff 40px, #fff 80px);
    mix-blend-mode: difference;
}

.text-container {
    display: block;
    background-color: #ffffff;  /* solid white background */
    padding: 20px;
    margin: 40px;
    border-radius: 15px;  /* rounded corners */
    width: 70%;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  /* subtle shadow for depth */
    position: relative;
    z-index: 1;  /* Ensure text container is above the background */
    border: 2px solid black;  /* black border */
}
.title-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.chess-king-icon {
    margin-right: 10px; /* Space between the icon and the title */
    width: 50px;        /* Adjust based on your preference */
    height: auto;
}

